apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/name: amazon-cloudwatch-agent-operator
    control-plane: controller-manager
  name: amazon-cloudwatch
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: amazon-cloudwatch
  labels:
    app.kubernetes.io/name: amazon-cloudwatch-agent-operator
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: amazon-cloudwatch-agent-operator
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: amazon-cloudwatch-agent-operator
        control-plane: controller-manager
    spec:
      containers:
        - image: controller
          args:
            - "--feature-gates=operator.autoinstrumentation.multiinstrumentation,operator.autoinstrumentation.multiinstrumentation.skipcontainervalidation"
          name: manager
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10