[{
  "EKS.Cluster": "^{{cluster}}$",
  "K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^sample-(remote-)?app-deployment(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^sample-app-deployment(-[A-Za-z0-9]*)*$",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^SERVER$"
},
{
  "EKS.Cluster": "^{{cluster}}$",
  "K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^sample-(remote-)?app-deployment(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^sample-app-deployment(-[A-Za-z0-9]*)*$",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "sample-remote-app-service:8080",
  "RemoteOperation": "GET /healthcheck",
  "aws.span.kind": "^CLIENT$"
}]