# This is a reusable workflow for running the E2E test for App Signals for all language.
# It is meant to be called from another workflow.
name: App Signals Enablement E2E Testing

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      # Ensure two tests do not run on the same cluster at the same time through GitHub Action concurrency
      test-Java-cluster-name:
        required: false
        default: 'e2e-cw-agent-operator-test'
        type: string
      test-python-cluster-name:
        required: false
        default: 'e2e-cw-agent-operator-python-test'
        type: string
    push:

jobs:
  java-e2e-tests:
    runs-on: ubuntu-latest
    # Two E2E tests should not run at the same time in the same EKS cluster
    concurrency:
      group: 'e2e-cw-agent-java-operator-test'
      cancel-in-progress: false
    steps:
      - name: Run Java E2E Test
        uses: ./.github/workflows/appsignals-e2e-test.yml
        with:
          test-Java-cluster-name: ${{ inputs.test-Java-cluster-name }}

  python-e2e-tests:
    runs-on: ubuntu-latest
    # Two E2E tests should not run at the same time in the same EKS cluster
    concurrency:
      group: 'e2e-cw-agent-python-operator-test'
      cancel-in-progress: false
    steps:
      - name: Run Python E2E Test
        uses: ./.github/workflows/appsignals-python-e2e-test.yml
        with:
          test-python-cluster-name: ${{ inputs.test-python-cluster-name }}
