# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

name: Build And Upload Artifact
env:
  # Use terraform assume role for uploading to ecr
  AWS_ASSUME_ROLE: ${{ secrets.TERRAFORM_AWS_ASSUME_ROLE }}
  ECR_OPERATOR_STAGING_REPO: ${{ vars.ECR_OPERATOR_STAGING_REPO }}
  ECR_OPERATOR_RELEASE_IMAGE: ${{ vars.ECR_OPERATOR_RELEASE_IMAGE }}
  ECR_TARGET_ALLOCATOR_STAGING_REPO: ${{ vars.ECR_TARGET_ALLOCATOR_STAGING_REPO}}
  ECR_TARGET_ALLOCATOR_RELEASE_REPO: ${{ vars.ECR_TARGET_ALLOCATOR_RELEASE_REPO}}

on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Release Artifact'
        required: false
        default: false
        type: boolean
      e2e-test-bypass-link:
        description: 'Failed E2E Test Run Link (for bypass)'
        required: false
        type: string
      e2e-test-bypass-approver:
        description: 'Approver GitHub Username (for bypass)'
        required: false
        type: string
      tag:
        description: 'Staging Artifact Tag'
        required: false
        default: 'staging'
        type: string
  workflow_call:
    inputs:
      release:
        description: 'Release Artifact'
        required: false
        default: false
        type: boolean
      e2e-test-bypass-link:
        description: 'Failed E2E Test Run Link (for bypass)'
        required: false
        type: string
      e2e-test-bypass-approver:
        description: 'Approver GitHub Username (for bypass)'
        required: false
        type: string
      tag:
        description: 'Staging Artifact Tag'
        required: false
        default: 'integration'
        type: string

jobs:
  BuildAndUpload:
    uses: ./.github/workflows/build-and-upload.yml
    secrets: inherit
    with:
      release: ${{inputs.release}}
      tag: ${{inputs.tag}}
      e2e-test-bypass-link: ${{inputs.e2e-test-bypass-link}}
      e2e-test-bypass-approver: ${{inputs.e2e-test-bypass-approver}}