# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

name: Run EKS addon Integration Tests
env:
  TERRAFORM_AWS_ASSUME_ROLE: ${{ secrets.TERRAFORM_AWS_ASSUME_ROLE }}

on:
  push:
    branches:
      - test_update
    paths-ignore:
      - '**/*.md'
      - 'NOTICE'
      - 'LICENSE'
      - '.github/**'
      - '!.github/workflows/integration-test.yml'
  workflow_dispatch:
  workflow_call:
    inputs:
      addon_name:
        required: false
        type: string
        default: 'amazon-cloudwatch'
        description: "EKS addon name"
      addon_version:
        required: false
        type: string
        default: 'v0.1.0-eksbuild.4'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  GenerateTestMatrix:
    name: 'GenerateTestMatrix'
    runs-on: ubuntu-latest
    outputs:
     eks_addon_matrix: ${{ steps.set-matrix.outputs.eks_addon_matrix }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ env.TERRAFORM_AWS_ASSUME_ROLE }}
          aws-region: us-west-2

      - name: Generate matrix
        id: set-matrix
        run: |
         echo "::set-output name=eks_addon_matrix::$(echo $(cat integration-tests/generator/k8s_versions_matrix.json))"

      - name: Echo test plan matrix
        run: |
         echo "eks_addon_matrix: ${{ steps.set-matrix.outputs.eks_addon_matrix }}"
         echo "Addon name ${{ inputs.addon_name }}, addon version  ${{ inputs.addon_version }} "

  EKSAddOnIntegrationTest:
    needs: [GenerateTestMatrix]
    name: EKSAddOnIntegrationTest
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arrays: ${{ fromJson(needs.GenerateTestMatrix.outputs.eks_addon_matrix) }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ env.TERRAFORM_AWS_ASSUME_ROLE }}
          aws-region: us-west-2

      - name: Verify Terraform version
        run: terraform --version

      - name: Terraform apply
        uses: nick-fields/retry@v2
        with:
          max_attempts: 1
          timeout_minutes: 60 # EKS takes about 20 minutes to spin up a cluster and service on the cluster
          retry_wait_seconds: 5
          command: |
            cd integration-tests/terraform/eks

            terraform init
            if terraform apply -var="addon_name=${{inputs.addon_name}}" -var="addon_version=${{inputs.addon_version}}" -var="k8s_version=${{ matrix.arrays.k8sVersion }}" --auto-approve; then
              terraform destroy -var="addon_name=${{inputs.addon_name}}" -var="addon_version=${{inputs.addon_version}}" -auto-approve
            else
              terraform destroy -var="addon_name=${{inputs.addon_name}}" -var="addon_version=${{inputs.addon_version}}" -auto-approve && exit 1
            fi

      - name: Terraform destroy
        if: ${{ cancelled() || failure() }}
        uses: nick-fields/retry@v2
        with:
          max_attempts: 3
          timeout_minutes: 8
          retry_wait_seconds: 5
          command: |
            cd integration-tests/terraform/eks

            terraform destroy -var="addon_name=${{inputs.addon_name}}" -var="addon_version=${{inputs.addon_version}}" --auto-approve